body{
  background-color: white;
}
#egg {
      display: block;
      width: 826px;
      height: 880px;
      background-color: red;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }


    #cot {

      display: flex;
      align-items: center;
      //width: 50vw;
      width: 90%;
      margin: auto;
      max-width: 402em;

      /* position: relative; */
      padding: 30% 2em;
      /* box-sizing: border-box; */

      $border: 5px;
      color: black;
      background: black;
  
      border: solid $border


    }

    html { height: 100%; background: #000; display: flex; }
    /* body { margin: auto; } */

    .side {

  border-radius: 15px 50px 30px;
  background-color: red;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 250px;
}
